[*.cs]

# xUnit1004: Test methods should not be skipped
dotnet_diagnostic.xUnit1004.severity = silent

# CS0649: Field 'GraphApiCallTests.User.context' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none
